.idea/
.vscode/
venv/

# Main module
*.py[cod]
here_map_widget/static/
here_map_widget/nbextension/
here_map_widget/labextension/

# Package
*.egg-info/
dist/

# OS X
.DS_Store

# Notebooks
.ipynb_checkpoints/

# Source javascript
js/.yarn/
js/dist/
js/node_modules/
js/.npmrc
js/.yarnrc
js/yarn.lock
