*.egg-info/
.ipynb_checkpoints/
.idea/
.vscode/
build/
*.py[cod]
src/*
venv/

# Compiled javascript
here_map_widget/static/
here_map_widget/nbextension/
here_map_widget/labextension/

# OS X
.DS_Store

# Source javascript
js/.yarn/
js/dist/
js/node_modules/
js/.npmrc
js/package-lock.json
