recursive-include here_map_widget/nbextension *.*
recursive-include here_map_widget/labextension *.*
include map-widget-for-jupyter.json
graft js/lib
include README.md
include LICENSE
include requirements*.txt
include examples/*
include js/*tgz
include js/package.json
include js/webpack.config.js
include setup.py
include pyproject.toml